<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start and Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eum iusto
      ratione facilis asperiores neque magnam tempora officia. Voluptatum
      corrupti voluptatem animi sequi expedita aperiam molestiae excepturi
      dolore ab facere. Dolores optio vel repellat excepturi autem placeat dicta
      quos nam.
    </p>
  </div>
</div>
